*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

body{
    margin:0;
    overflow-x: hidden;
    background: #141313;
    cursor: default;
}

.improved-body{
    position: fixed;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #141313;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: #737373;
    margin-left: 5px;
}

a:hover {
    color: #FFFFFF; 
}

p{
    color: #737373;
    max-width: 450px;
    text-align: justify;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: center;
}

header {
    min-height: 100vh;
    color: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: space-between;
}

header main {
    width: 100%;
    margin: 0 0 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav .container,
.header-body .container {
    padding: 1.65em 2.5em;
}

.i {
    font-size: 3em;
    font-weight: 444;
}

#Lume {
    color: #F07508;
    transition: 0.3s;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ocult-line{
    opacity: 0;
  }

.cab{
    color: #F07508;
}

.side-header {
    background: #0D0D0D;
    backdrop-filter: blur(10px);
    padding: 2.2em;
    cursor: pointer;
    transition: 0.3s;
}

.side-header:hover {
    background: none;
}

nav .side-header {
    display: none;
    padding: 0;
    justify-self: end;
}

aside {
    background: #141313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-right: 1px #2C2C2E solid;
    position: relative;
    z-index: 1;
}

.user{
    font-size: 2em;
    color: #F07508;
    position: absolute;
    margin-top: 125px;
}

.support {
    padding-bottom: 1em;
    align-items: center;
    justify-content: center;
    margin: center;
    text-align: center;
}

.support li {
    margin: 1.2em 0;
    color: #737373;
}

.plus:hover{
    cursor: pointer;
    color: #FFFFFF; 
    transition: 0.3s;
}

.side-header-inner {
    background: #0D0D0D;
    padding: 2em;
    height: 100%;
    width: 20em;
    position: absolute;
    top: 0;
    left: -20em;
    transition: 
    500ms
    cubic-bezier(.74,-0.03,.83,.67);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}

.side-header-inner ul {
    margin: 3em;
}

.side-header-inner li {
    padding: 0.5em 0;
    margin: 0.5em 0;
    border-bottom: 1px #2C2C2E solid;
}

.side-header-inner-open {
    left: 3em;
}

.body-left {
    font-size: 4.5em;
    line-height: 1.2em;
    margin: 0.5em 0;
    margin-top: -20px;
    letter-spacing: 4px;
}

.body-right{
    margin-left: 200px;
}

.progresss {
    width: 275px;
    height: 2px;
    background: #000000;
    position: fixed;
    margin-left: -15px;
}

.progresss div {
    width: 100%;
    height: 100%;
    background: #F07508;
    transition: 0.3s;
}

.slider-cntrl {
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.3s;
    transform: none;
    padding: 2px;
}

.slider-cntrl:hover {
    color: #FFFFFF;
}

.active {
    color: #FFFFFF;
}

.footer-home {
    background: #0D0D0D;
    backdrop-filter: blur(10px);
    margin-top: -50px;
    max-height: 150px;
    width: 640px;
    z-index: 1000;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#news{
    width: 23.5%;
    border-radius: 10px;
   
}

#logo-ilume-white{
    width: 125px;
    margin-left: -15px;
    margin-top: -23px;
    position: fixed;
}

#logo-marista{
    width: 330px;
    margin-left: 130px;
}

.copyright{
    margin-left: 10px;
    margin-top: 5px;
}

.logo-news{
    position: fixed;
    margin-top: -275px;
    margin-left: 150px;
    width: 410px;
    text-align: justify;
}

.saiba-mais{
    position: fixed;
    width: 1000px;
    margin-top: -60px;
}

.footer-home .container > div {
    display: flex;
    justify-content: flex-start;
}

.align-footer {
    padding: 1.5em 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.align-footer small{
    color: #737373;
}

.footer-home a {
    margin-top: 1em;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 2px;
    position: absolute;
    margin-top: 100px;
    transition: 0.3s;
}

.footer-home a:hover {
    color: #f36008;
}

.footer-plus-right {
    position: fixed;
    bottom: 20px;
    right: -10px;
    width: 40px;
    height: 200px;
    background: #141313;
    background-size: 40px;
    z-index: 100000;
}

.footer-plus-left {
    position: fixed;
    bottom: 20px;
    right: 471px;
    width: 20px;
    height: 200px;
    background: #141313;
    background-size: 40px;
    z-index: 10000;
}