.container-report{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #0D0D0D;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 50px;
    margin-left: 90px;
    margin-top: -515px;
}

.container-report .forms{
    display: flex;
    align-items: center;
    height: 450px;
    width: 200%;
}

.container-report .form{
    width: 50%;
    padding: 30px;
    background-color: #0D0D0D;
    transition: margin-left 0.18s ease;
}

.container-report .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
    color: #FFFFFF;
}

.form .input-field{
    position: relative;
    height: 30px;
    width: 100%;
    margin-top: 15px;
}

.input-field input{
    background-color: #0D0D0D;
    position: absolute;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #737373;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #17B609;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #737373;
    font-size: 20px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #17B609;
}

.input-field i.icon{
    left: 0;
}

#input-file{
    margin: 12px -5px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #17B609;
}

.form .text{
    color: #737373;
    font-size: 14px;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    margin-top: -10px;
    height: 150%;
    border: none;
    color: #0D0D0D;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #F07508;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
        transform: scale(1.01);
        box-shadow: 1px 1px 10px #F07508;
}

.container-map .forms{
    position: fixed;
    margin-left: 590px;
    margin-top: -450px;
    display: flex;
    align-items: center;
    width: 200%;
    transition: height 0.2s ease;
}

iframe{
  border-radius: 6px;
}

.container-incident{
  position: fixed;
  max-width: 450px;
  width: 100%;
  background: #0D0D0D;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 20px;
  margin-left: 590px;
  margin-top: -183px;
}

.container-incident .forms{
  display: flex;
  align-items: center;
  height: 182px;
  width: 200%;
}

.container-incident .form{
  width: 50%;
  padding: 30px;
  background-color: #0D0D0D;
  transition: margin-left 0.18s ease;
}

.container-incident .form .title{
  position: relative;
  font-size: 27px;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0 20px;
}

.form .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background-color: #F07508;
  border-radius: 25px;
}

.h3{
    margin-left: 100px;
    margin-top: -5px;
}

.ul{
  margin: 0 50px;
  color: #737373;
}

.span{
    opacity: 0;
}