#representatives{
  margin-top: -130px;
}

.progress {
  width: 275px;
  height: 2px;
  background: #000000;
  position: fixed;
  margin-left: -15px;
}

.progress div {
  width: 0%;
  height: 100%;
  background: #F07508;
  transition: 0.3s;
}

.card{
  width:300px;
  height: 450px;
  background: #0D0D0D;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0px;
  position: relative;
  margin-left: 10px;
}

.container-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -35px;
}

.top-bar{
  width:50%;
  height: 4px;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  background-color: #F07508;
  border-radius: 0px 0px 10px 10px;
}

.nave{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#profession{
  width: 10%;
}

.photo img{
  width:150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.photo strong{
  font-weight: 500;
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 1px;
  margin-top: 10px;
}

.photo h5{
  font-size: 0.8rem;
  font-weight: 500;
  color: #737373;
  margin: 5px 0px;
}

h6{
  font-size: 13px;
  color: #F07508;
  font-weight: 650;
  height: 60px;
}

.socialy{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFFFF;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.socialy a{
	padding: 20px;
	color:#141313;
	font-size:1.3rem;
  margin-right: 5px;
}

.ins{
  font-size: 1.2em;
}

.socialy a:hover{
  color:#141313;
	transition: all ease 0.3s;
  transform: scale(1.1);
}

.footer-team{
  width: 530px;
  margin-top: -170px;
  height: 160px;
  background: #0D0D0D;
  backdrop-filter: blur(10px);
}

.align-team {
  padding: 1.5em 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

small{
  color: #737373;
  text-align: justify;
  padding-top: 10px;
}